<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Contact</title>
<link href="/css/tooplate_style.css" rel="stylesheet" />
</head>

<body class="subpage">

<h1>Contact Page</h1>
<a href="/">Back Home</a>

</body>
</html>